---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    <div>
      {% if post.fullview %}
      {{ post.content }}
      {% else %}
      {% if post.description %}
      {{ post.description }}
      {% elsif post.custom_excerpt %}
      {{ post.excerpt }}
      {% else %}
      {{ post.content | strip_html | truncatewords: site.excerpt-words }}
      {% endif %}
      <br><a href="{{ site.baseurl }}{{ post.url }}">Read more</a>
      {% endif %}
    </div>

  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{paginator.next_page_path}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{paginator.previous_page_path}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
